QToolButton#XDropdownButton {
  background: $dark1;
  color: $primary;
  border: 2px solid $light3;
  padding: 4px;
}

QToolButton#XDropdownButton:disabled {
  background: $light3;
  color: $dark1;
  border: none;
}

QToolButton#XDropdownButton:hover:!pressed, QToolButton#XDropdownButton:focus {
  border: 2px solid $accentDark;
  outline: none;
}

QToolButton#XDropdownButton:pressed {
  background: $accentDark;
  border: none;
}

QToolButton#XDropdownButton[popupMode="1"] {
  padding-right: 15px;
}

QToolButton#XDropdownButton::menu-button {
  width: 15px;
  margin: 2px;
  background: $dark2;
  border: none;
}

QToolButton#XDropdownButton:disabled, QToolButton#XDropdownButton::menu-button {
  width: 15px;
  margin: 2px;
  background: $light3;
  border: none;
}

QToolButton#XDropdownButton::menu-button:pressed {
  background: $accentDark;
}

QToolButton#XDropdownButton::menu-arrow:open {
  top: -1px;
  left: -1px;
}