QToolBar#XToolBar {
  background-color: #232323;
  color: #ffffff;
  min-height: 44px;
  qproperty-spacing: 32;
}

QToolBar::separator:horizontal {
  background: #626262;
  width: 1px;
  margin: 8px 0;
}

QToolButton {
  color: #ffffff;
  font-size: 12px;
}
